/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1.4;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Titillium Web', sans-serif;
  color: #5E6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Titillium Web', sans-serif;
  color: #23293B;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.8rem;
}
p {
  font-size: 1.8rem;
  line-height: 1.6;
}
.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.container-about {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.students {
  margin-left: 10px;
  margin-bottom: 10px;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: lightgray;
}
@media only screen and (max-width: 500px) {
  nav {
    width: 80%;
  }
}
nav .nav {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 500px) {
  nav .nav {
    width: 80%;
  }
}
nav .nav h3 {
  font-size: 3rem;
  margin: 8px 0;
  margin-bottom: 40px;
}
nav .nav .navigation {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  padding: 5px 0;
}
nav .nav .navigation a {
  color: black;
  font-size: 2rem;
}
nav .nav .navigation a:hover {
  text-decoration: underline;
  background-color: #258EA6;
}
nav {
  width: 100%;
}
nav .nav-about {
  width: 800px;
  margin: 0 auto;
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media only screen and (max-width: 500px) {
  nav .nav-about {
    width: 80%;
  }
}
nav .nav-about h3 {
  font-size: 4rem;
  margin: 8px 0;
}
nav .nav-about .navigation-about {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  padding: 5px 0;
}
nav .nav-about .navigation-about a {
  color: black;
  font-size: 2rem;
}
nav .nav-about .navigation-about a:hover {
  text-decoration: underline;
  background-color: #258EA6;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home .intro .main-header {
  padding-top: 50px;
}
@media only screen and (max-width: 500px) {
  .home .intro .main-header {
    width: 100%;
  }
}
.home .intro h3 {
  padding: 15px;
}
.home .intro p {
  padding: 0 15px;
}
.home .students {
  margin-top: 40px;
  align-content: center;
}
.home .bottom-content-lambda {
  margin-top: 40px;
}
@media only screen and (max-width: 500px) {
  .home .bottom-content-lambda {
    width: 100%;
  }
}
.home .main-image {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 40px;
}
.home .main-image img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media only screen and (max-width: 500px) {
  .home .main-image img {
    width: 100%;
  }
}
@media only screen and (max-width: 500px) {
  .home .main-image .collaboration {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  .home .main-image .agent {
    display: none;
  }
}
.home .mid-content-header h2 {
  color: solid black;
  margin-top: 50px;
  margin-left: 10px;

}
.home .mid-content {
  display: flex;
  margin: 0 2% 20px;
  justify-content: space-around;
  margin-top: 20px;
  background-color: #258EA6;
  color: white;
  border: 2px solid black;
  border-spacing: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
.home .app-features {
  padding-right: 4%;
  font-size: 2rem;
}
.home p {
  color: solid black;
}
.home :last-child {
  padding-right: 0;
}
.home .lambda {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 500px) {
  .home .lambda {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
  }
}
.home .lambda .lambda-text {
  width: 50%;
  margin-right: 50px;
}
@media only screen and (max-width: 500px) {
  .home .lambda .lambda-text {
    width: 100%;
  }
}
.home .lambda .lambda-text h3 {
  margin-bottom: 10px;
}
@media only screen and (max-width: 500px) {
  .home .lambda .lambda-text h3 {
    margin-top: 20px;
  }
}
.home .lambda .lambda-text p {
  margin-bottom: 26px;
}
.home .lambda .lambda-text .btn {
  height: 50px;
  width: 100px;
  color: black;
  font-size: 1.8rem;
  background-color: #37f376;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #258EA6;
  color: white;
}
.home .lambda .lambda-text .btn:hover {
  background-color: #140606;
  color: #37f376;
  cursor: pointer;
}
@media only screen and (max-width: 500px) {
  .home .lambda .lambda-text .btn {
    height: 70px;
    width: 100%;
    color: black;
    font-size: 1.8rem;
    background-color: #37f376;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #258EA6;
    color: white;
    cursor: pointer;
  }
  .home .lambda .lambda-text .btn:hover {
    background-color: #140606;
    color: #37f376;
    cursor: pointer;
  }
}
.home .lambda .lambda {
  width: 46%;
  margin-left: 4%;
}
@media only screen and (max-width: 500px) {
  .home .lambda .lambda {
    width: 100%;
    margin: 9 auto;
  }
}
.home .lambda .lambda .lambda-img {
  border-radius: 10px;
  display: flex;
}
.table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 2rem;
  display: flex;
  margin: 0 2% 20px;
  justify-content: space-around;
}
table,
td,
th {
  border: 2px dotted black;
  height: 40px;
  justify-content: center;
  width: 600px;
  text-align: center;
  margin-right: 10px;
  margin-top: 20px;
}
th {
  background-color: #258EA6;
  color: white;
} 
.container-about {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
}
.gurus {
  display: flex;
  width: 100%;
  flex-direction: row;
}
